* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.container-fluid1 {
  display: flex;
  align-items: center; /* Align the main image and small images vertically */
  justify-content: center; /* Center the entire layout horizontally */
  gap: 20px; /* Space between the small images and main image */
  flex-direction: row-reverse;
  
}

.small-img {
   
  flex-direction:column;/* Stack small images vertically */
  align-items: center; /* Center images horizontally within their container */
  gap: 10px; /* Space between small images */
  position: relative;
}

.show {
  width: 350px;
  height: 470px;
	
}

#show-img {
  width: 300px;
  height: 400px;
  
}

.small-container {
  display: flex;
  flex-direction: column; /* Make images stack vertically */
  align-items: center;
  width: 100px; /* Set a fixed width for the container */
  height: auto; /* Allow the container to grow as needed */
  overflow: hidden;
  position: relative;
  gap: 10px; /* Add space between images */
}

.small-container .show-small-img {
  width: 80px;
  height: 90px;
  cursor: pointer;
}
