body{background-color:white;
    padding:10px;
	margin:10px;	
}

#main{ width:100%;
      height:auto;
	  background-color:white;
	  
}

.naveen{ width:100%;
          height:36px;
		  background-color:#235787;
		  display:flex;
		  	padding-top:5px;
}
.box1 { width:80%;
        height:30px;
		color:white;
		font-family:Malgun Gothic;
		margin:0px;
		padding-left:40px;
		 
		 background-color:#235787;
		

}
.box2{ width:20%;
       height:35px;
	   margin:0px;
		 
	 
	 
	  
}


.vinay{ width:100%;
        height:100px;
		display:flex;
		
}

.vinay a{text-decoration:none;	
}
 
  .box3{ width:20%;
       height:100px;
	   padding:0px;
	   margin:0px;
 }
.box4{ width:70%;
	       height:100px;
		    padding:0px 20px;
		  
		   
	       }
.box4 p{
	font-size:19px;
	font-family:Corbel;
	padding-top:20px;
	 
	float:left;
	padding-left:25px;
	
}	
.box12 { width:10%;
         height:100px;
		 padding-top:30px;
}
.BAGATH{ background-color:white;
     width:100%;
     height:50PX;
	
     margin:0px;
     	font-family:Corbel;
    padding-top:20PX;
	font-size:25PX;
	  padding-left:20px;
	  border-top:solid 1px #000;
	  
}

.kalyan{width:100%;
       height:auto;
	   

		
		display:FLEX;
		border-top:solid 1px #000;
}

.box13{width:80%;
       height:400PX;
	    
	    
		
	 
}
.box14{width:100%;
       height:150PX;
	    text-align:center;
		 
		padding:0px;
		
	 
}
.box15{width:90%;
       height:250PX;
	   
		margin:auto;
		padding:10px;
		display:flex;
	 
}
.boxA{ width:25%;
       height:200px;
	  
	   padding:10px;
	   
}




.box16{ width:25%;
       height:auto;
	    background-color:white;
		padding-left:20px;
		padding-top:50px;
		border-left:solid 1px #000;
	    font-family:myanmar text;
}


	


h4{color:white;
	margin:0px;
	 
}

h5{color:white;
   
  padding-top:10px;
  font-size:16px;	
  
}

h2{  font-family     : Microsoft JhengHei;
	
}
h3{ color:skyblue;
    font-family:Garamond;
	font-size:40px;
	padding-top:20px;
	
}

